{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 Links</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
        <a href="https://myqu.qu.edu.sa/" target="_blank" class="container" id="b1"><ins> Go to QU website {{id}}(open a new tap)</a>
        <a href="https://myqu.qu.edu.sa/" target="_self" class="container" id="b2"><ins>Go to QU website (open in the same page/tap)</a>
        <a href="https://myqu.qu.edu.sa/" target="_self" class="container" id="b3"><ins>Go to QU website (open in the same page/tap)</a>
    

</body>
</html>
