h1{
    display: block;
    /* margin: 10px 0; */
    padding: 20px;
    text-decoration: none;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(255, 245, 188);
    color: rgb(81, 182, 53);
  }

  h2{
    display: block;
    /* margin: 10px 0; */
    padding: 20px;
    text-decoration: none;
    text-align: left;
    background-color: rgb(34, 169, 144);
    color: rgb(255, 255, 255);
    font-size: 35px;
  }

  table, th, td{
    border: 1px solid;
    text-align: center;
    margin: auto;
    background-color: brown;
  }

  .tab{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
  }