/*link style */
.container{
  display: block;
  /* margin: 10px 0; */
  padding: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

#b1{
  background-color: #66fba6;
  color: rgb(245, 7, 7);
}
#b1:visited{
  color: rgb(104, 55, 55);
}
#b1:hover, #b1:active{
  color: rgb(246, 244, 244);
}


#b2 {
  background-color: #535050;
  color: rgb(245, 225, 7);
}
#b2:visited{
  color: rgb(190, 170, 24);
}
#b2:hover, #b1:active{
  color: rgb(179, 160, 160);
}

#b3 {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
#b3:visited{
  color: rgb(190, 24, 165);
}
#b3:hover, #b1:active{
  color: rgb(107, 97, 162);
}

